// _variables.scss

// Cores principais
$primary-color: #05c3ff;
$secondary-color: #101c2c;
$background-color: #c7cdd3;
$text-color: white;

// Fontes
$font-family-base: "Righteous", sans-serif;
$font-size-base: 16px;
$font-size-large: 30px;
$font-size-header: 50px;

// Espaçamento
$gap-size: 20px;
$card-padding: 20px;

// Tamanhos
$card-width: 120px;
$card-height: 120px;
$icon-size: 80px;

// Bordas e sombras
$border-radius: 20px;
$shadow-color: rgba(0, 0, 0, 0.45);

// Efeitos e transições
$hover-scale: 1.1;
$transition-duration: 0.5s;

// Outros
$yellow-color: yellow;
